
.navbar-brand img {
  height: 40px; /* or whatever fits your navbar height */
  width: auto;  /* keeps correct proportions */
  vertical-align: middle; /* keeps it centered vertically */
  border-radius: 2px;
}

.navbar-nav{
text-align: center;
}

/* Topbar simple look */
.topbar {
  transition: transform 0.6s ease, opacity 0.6s ease;
}

.topbar-hidden {
  transform: translateY(-100%);
  opacity: 0;
}


/* Navbar transition & sticky effect */
.main-navbar {
  position: relative;
  transition: all 0.4s ease-in-out;
  z-index: 10;
}

/* When navbar becomes fixed */
.navbar-fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  animation: slideDown 0.4s ease;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

/* Smooth slide animation */
@keyframes slideDown {
  from { transform: translateY(-100%); }
  to { transform: translateY(0); }
}

.nav-item.dropdown:hover > .dropdown-menu {
  display: block;
}


