  /* styles.css (global) */

  *,
  ::after,
  ::before {
    font-family: Lora, serif;
  }

  html,
  body {
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: #f8f9fa;

  }

  ::-webkit-scrollbar {
    width: 5px;
  }

  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  ::-webkit-scrollbar-thumb {
    background: skyblue;
    border-radius: 5px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  ::selection {
    background: violet;
    color: #fff;
  }
  
  .title::after {
  content: "";
  display: block;
  height: 2px;
  background: red;
}

input::placeholder {
  color: gray;
}

li::marker {
  color: red;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

body .mat-mdc-dialog-surface{
    background-color: transparent;
    border-radius:0%
}
